body{
    background: linear-gradient(to left,rgba(255, 0, 0, 0.048)60%,rgba(255, 0, 0, 0.048)50%), url(./teslaBackground.jpg);
    background-size: cover;
}

.content{
    width: auto;
    height: auto;
    position: absolute;
    margin-left: 10vw;
    margin-top: 5vw;
    align-items: center;
    justify-content: center;
    width:69%;
    height: 80vh;
    display: flex;

}



.car{
    width: 75vw;
    height: 30vh;
    background-color: rgba(250, 235, 215, 0.753);
    display: flex;
    margin: auto;
    transition: 0.5s;
    margin-top: 65px;
    margin-bottom: 50px;

    box-shadow: 0 30px 60px rgba(0,0,0,0.5);

}

.car .imagine{
    padding: 5px;
    display: flex;
    margin-right: 5vw;
}
.car .text{
    color: black;
    text-decoration: none;
    padding: 15px;
}

.text h1{
    margin-left:30%;
    margin-bottom: 20px;
}
.text p{
    margin: auto;
    font-size: 16px;
    text-decoration: none;
}

.car:hover{
    background-color: rgb(250, 235, 215);
    transform: scale(.95);
    transition: 0.5s;
    box-shadow: 0 30px 60px rgba(0,0,0,0.5);
}